#Header{
  height: 100vh;
  background-position: center;
  
  
}

.HeroText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.cardIcon{
  background: #fab95b;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  padding: 5px 10px;

}

.reviews{
  background-color: #fab95b !important;
}

.carousel-caption{
  position: static;
}
.crousel_text{
  display: flex;
  
}